.sn-divider{
    font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #e8e8e8;
}
.sn-divider,
.sn-divider-vertical{
    margin: 0 8px;
    display: inline-block;
    height: 0.9em;
    width: 1px;
    vertical-align: middle;
    position: relative;
    top: -0.06em;
}
.sn-divider-horizontal{
    display: block;
    height: 1px;
    width: 100%;
    min-width: 100%;
    margin: 24px 0;
    clear: both;
    background: #e8e8e8;
}
.sn-divider-horizontal.sn-divider-with-text,
.sn-divider-horizontal.sn-divider-with-text-left,
.sn-divider-horizontal.sn-divider-with-text-right{
    display: table;
    white-space: nowrap;
    text-align: center;
    background: transparent;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    margin: 16px 0;
}
.sn-divider-horizontal.sn-divider-with-text::before,
.sn-divider-horizontal.sn-divider-with-text-left::before,
.sn-divider-horizontal.sn-divider-with-text-right::before,
.sn-divider-horizontal.sn-divider-with-text::after,
.sn-divider-horizontal.sn-divider-with-text-left::after,
.sn-divider-horizontal.sn-divider-with-text-right::after{
    content: '';
    display: table-cell;
    position: relative;
    top: 50%;
    width: 50%;
    border-top: 1px solid #e8e8e8;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}
.sn-divider-horizontal.sn-divider-with-text::after{
    content: '';
    display: table-cell;
    position: relative;
    top: 50%;
    width: 50%;
    border-top: 1px solid #e8e8e8;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}
.sn-divider-horizontal.sn-divider-with-text-left .sn-divider-inner-text,
.sn-divider-horizontal.sn-divider-with-text-right .sn-divider-inner-text {
  display: inline-block;
  padding: 0 10px;
}
.sn-divider-horizontal.sn-divider-with-text-left:before {
  top: 50%;
  width: 5%;
}
.sn-divider-horizontal.sn-divider-with-text-left:after {
  top: 50%;
  width: 95%;
}
.sn-divider-horizontal.sn-divider-with-text-right:before {
  top: 50%;
  width: 95%;
}
.sn-divider-horizontal.sn-divider-with-text-right:after {
  top: 50%;
  width: 5%;
}
.sn-divider-inner-text {
  display: inline-block;
  padding: 0 24px;
}
.sn-divider-dashed {
  background: none;
  border-top: 1px dashed #e8e8e8;
}
.sn-divider-horizontal.sn-divider-with-text.sn-divider-dashed,
.sn-divider-horizontal.sn-divider-with-text-left.sn-divider-dashed,
.sn-divider-horizontal.sn-divider-with-text-right.sn-divider-dashed {
  border-top: 0;
}
.sn-divider-horizontal.sn-divider-with-text.sn-divider-dashed:before,
.sn-divider-horizontal.sn-divider-with-text-left.sn-divider-dashed:before,
.sn-divider-horizontal.sn-divider-with-text-right.sn-divider-dashed:before,
.sn-divider-horizontal.sn-divider-with-text.sn-divider-dashed:after,
.sn-divider-horizontal.sn-divider-with-text-left.sn-divider-dashed:after,
.sn-divider-horizontal.sn-divider-with-text-right.sn-divider-dashed:after {
  border-style: dashed none none;
}